@using netmockery

@{ 
    Layout = "Base";
    var now = (DateTime) ViewData["Now"];
    var reloadTimestamps = (DateTime[])ViewData["ReloadTimestamps"];

    var netmockeryVersion = (string)ViewData["NetmockeryVersion"];
    var defaultScriptReferences = (IEnumerable<string>)ViewData["DefaultScriptReferences"];
}
<h2>Configuration</h2>
<p>
    Configuration directory: <code>@ViewData["SourceDirectory"]</code>
</p>
<p>
    @Html.ActionLink("Reload Configuration", "ReloadConfig", routeValues: null, htmlAttributes: new { @class = "btn btn-default" })
</p>

<h2>Reload History</h2>
<p>
    <ul>
        @foreach (var ts in reloadTimestamps)
        {
            <li>@ts</li>
        }
        <li>Current time: @now</li>
    </ul>
</p>

<h2>Default script references</h2>
<ul>
    @foreach (var referenceDisplay in defaultScriptReferences)
    {
        <li><code>@referenceDisplay</code></li>
    }
</ul>
