@using netmockery
@model EndpointCollection

@{ 
    Layout = "Base";
    var responseRegistry = ViewData["responseRegistry"] as ResponseRegistry;
}

<h2>Endpoints</h2>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Path regex</th>
            <th>#Request matchers</th>
            <th>#Requests handled</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var endpoint in Model.Endpoints)
        {
        <tr>
            <td>@Html.ActionLink(endpoint.Name, "EndpointDetails", new { name = endpoint.Name })</td>
            <td><code>@endpoint.PathRegex</code></td>
            <td>@endpoint.Responses.Count()</td>
            <td><a href="@Url.Action("ForEndpoint", "Responses", new { endpointName = endpoint.Name })"><span class="badge">@responseRegistry.ForEndpoint(endpoint.Name).Count()</span></a></td>
        </tr>
        }

    </tbody>
</table>

<h2>Errors</h2>
<p>
    <ul>
        <li><a href="@Url.Action("ErrorsOnly", "Responses")"><span class="badge">@responseRegistry.Responses.Where(item => item.Error != null).Count()</span> since startup</a></li>
    </ul>
</p>